*{
    padding: 0%;
    margin: 0%;
    font-family: sans-serif;
}

#clear{
width: 179px;
border: 3px solid rgb(17, 198, 253);
border-radius: 3px;
padding: 20px;
background-color: #fff;
color:  #111;
}

#delete{
    width: 179px;
    border: 3px solid rgb(17, 198, 253);
    border-radius: 3px;
    padding: 20px;
    background-color: #fff;
    color:  #111;
    }
    

.formstyle
{
width: 416px;
height: 663px;
margin: auto;
border: 3px solid #fff;
border-radius: 9px;
padding: 20px;
margin-bottom: 1%;
background-color: #111;
}

input
{
width: 10px;
background-color: #fff;
color: #111;
border: 3px solid gray;
border-radius: 5px;
padding: 26px; 
font-size: 15px;
}


#calc{
width: 380px;
border: 5px solid black;
	border-radius: 9px;
	padding: 16px;
	margin: auto;
}

#amount{
    width: 175px;
	border-radius: 9px;
	padding: 15px;

}

#convert{
    width: 150px;
	padding: 15px 20px;
    margin-right: 40px;
    text-align: center;
    background-color: brown;
    color: #111;
}

#convert:hover{
    background-color: #fff;
    color: brown;
    border: solid blue;
}

#from{
    padding: 9px;
    text-align: center;
    background-color: #fff;
    color: #111;
}

#to{
    padding: 9px;
    text-align: center;
    background-color: #fff;
    color: #111; 
}

/* Grow */
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}